{% extends 'form.html' %}
{% block form %}
    <div class=" bg-gray-50">
        <form class="p-4 md:p-5 "
              method="post"
              action="{% url 'product:edit_artwork' artwork.id %}">
            {% csrf_token %}
            <div class="flex-col gap-2 mb-4 mx-auto">
                {% for field in form %}
                    {{ field.label_tag }}
                    <div class="flex-col ">{{ field }}</div>
                {% endfor %}
            </div>
            <div class="flex gap-4">
                <button type="submit"
                        class="text-white inline-flex items-center bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg uppercase text-xs tracking-widest  px-4 py-1.5 text-center">
                    Save
                </button>
                <a href="{% url 'product:artwork_list' %}"
                   class=" inline-flex items-center bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-gray-400 font-medium rounded-lg uppercase text-xs tracking-widest  px-4 py-1.5 text-center">
                    Cancel
                </a>
            </div>
        </form>
        {{ form.media }}
    </div>
{% endblock form %}
