{% extends 'base.html' %}
{% block title %}Issue Detail{% endblock %}
{% block content %}
    <div class="mx-auto ">
        <div class="w-full space-y-4 p-2 bg-white border border-gray-200 rounded-lg shadow sm:p-4">
            <div class="flex gap-2">
                <a href="{% url 'she:issue_list' %}">
                    <svg class="w-8 h-8 text-gray-800 "
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         fill="none"
                         viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4" />
                    </svg>
                </a>
                <p class="text-base md:text-lg font-semibold uppercase text-gray-600 ">
                    {{ issue.issue_type.name }} - {{ issue.location.name }}
                </p>
            </div>
            <div class="flex place-content-end">
                <div class="flex flex-wrap gap-4  ">
                    {% if issue.status == 'CREATED' %}
                        {% if request.user == issue.created_by %}{% endif %}
                        {% if request.user != issue.created_by or request.user.profile.role == 'ADMIN' %}{% endif %}
                        <div>{% include 'issue/action/form.html' with id=issue.id action='CANCEL' %}</div>
                        <div>{% include 'issue/action/form.html' with id=issue.id action='CLOSE' %}</div>
                    {% elif issue.status == 'PENDING' %}
                        {% if request.user == issue.created_by %}{% endif %}
                        <div>{% include 'issue/action/form.html' with id=issue.id action='APPROVE' %}</div>
                        <div>{% include 'issue/action/form.html' with id=issue.id action='REJECT' %}</div>
                    {% endif %}
                    <div>{% include 'issue/remark/list.html' %}</div>
                </div>
            </div>
            <p class="text-base md:text-xl font-bold text-gray-600 ">{{ issue.job_test.job }}</p>
            <ul class="my-4 space-y-3">
                {% with status=issue.status %}
                    <li class=" rounded-lg">
                        <a class="grid sm:grid-cols-2 items-center p-1 sm:p-3 text-sm md:text-base font-bold text-gray-900 bg-gray-50 hover:bg-gray-100 group hover:shadow">
                            <div class="flex-1 mb-2 sm:mb-0 ms-3 whitespace-nowrap">Status</div>
                            <div class="inline-flex items-center justify-center px-4 py-1.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 {% if status == 'CREATED' %} bg-CREATED {% elif status == 'CANCELLED' %} bg-CANCELLED {% elif status == 'ACCEPTED' %} bg-ACCEPTED {% elif status == 'REJECTED' %} bg-REJECTED {% elif status == 'IN-PROGRESS' %} bg-IN-PROGRESS {% elif status == 'PENDING' %} bg-PENDING {% elif status == 'INCOMPLETE' %} bg-INCOMPLETE {% elif status == 'COMPLETED' %} bg-COMPLETED {% endif %}text-white rounded">
                                {{ issue.status }}
                            </div>
                        </a>
                        <a class="grid sm:grid-cols-2 items-center p-1 sm:p-3 text-sm md:text-base font-bold text-gray-900 bg-gray-50 hover:bg-gray-100 group hover:shadow">
                            <div class="flex-1 mb-2 sm:mb-0 ms-3 whitespace-nowrap">Remark</div>
                            <div class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-100 rounded">
                                {{ issue.remarks.first.text }}
                            </div>
                        </a>
                    </li>
                {% endwith %}
                {% if issue.status == 'COMPLETED' %}
                    <li>
                        <a class="grid sm:grid-cols-2 items-center p-1 sm:p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                            <span class="flex-1 mb-2 sm:mb-0 ms-3 whitespace-nowrap">Completed @</span>
                            <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ issue.remarks.first.created_at }}</span>
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a class="grid sm:grid-cols-2 items-center p-1 sm:p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 mb-2 sm:mb-0 ms-3 whitespace-nowrap">Location</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ issue.location.name }}</span>
                    </a>
                </li>
                <li>
                    <a class="grid sm:grid-cols-2 items-center p-1 sm:p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 mb-2 sm:mb-0 ms-3 whitespace-nowrap">Assigned To</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ issue.department.name }}</span>
                    </a>
                </li>
                <li>
                    <a class="grid sm:grid-cols-2 items-center p-1 sm:p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 mb-2 sm:mb-0 ms-3 whitespace-nowrap">Issue Type</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ issue.issue_type.name }}</span>
                    </a>
                </li>
                <li>
                    <a class="grid sm:grid-cols-2 items-center p-1 sm:p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 mb-2 sm:mb-0 ms-3 whitespace-nowrap">Created By</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ issue.created_by.username }}</span>
                    </a>
                    <a class="grid sm:grid-cols-2 items-center p-1 sm:p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 mb-2 sm:mb-0 ms-3 whitespace-nowrap">Created At</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ issue.created_at }}</span>
                    </a>
                </li>
                <li>
                    <a class="grid sm:grid-cols-2 items-center p-1 sm:p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 mb-2 sm:mb-0 ms-3 whitespace-nowrap">Observation</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ issue.observation }}</span>
                    </a>
                </li>
                <li>
                    <a class="grid sm:grid-cols-2 items-center p-1 sm:p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 mb-2 sm:mb-0 ms-3 whitespace-nowrap">Suggestion</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ issue.suggestion }}</span>
                    </a>
                </li>
            </ul>
            {% if issue.image %}
                <div class="mt-4 w-fit  items-center mx-auto">
                    <img src="{{ issue.image.url }}"
                         alt="Artwork"
                         height=""
                         width=""
                         class=" h-auto w-full  rounded-lg" />
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
