{% extends 'base.html' %}
{% block content %}
    <div class="mx-auto ">
        <div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6">
            <h5 class="mb-3 text-base font-semibold text-gray-800 md:text-xl tracking-wider uppercase ">Issue Detail</h5>
            <div class="flex place-content-end">
                <div class="flex flex-wrap gap-4  ">
                    {% if issue.status == 'CREATED' %}
                        <div>{% include 'issue/action/form.html' with id=issue.id action='ACCEPT' %}</div>
                        <div>{% include 'issue/action/form.html' with id=issue.id action='REJECT' %}</div>
                        <div>{% include 'issue/action/form.html' with id=issue.id action='CANCEL' %}</div>
                    {% elif issue.status == 'ACCEPTED' or issue.status == 'INCOMPLETE' %}
                        <div>{% include 'issue/action/form.html' with id=issue.id action='START' %}</div>
                    {% elif issue.status == 'IN-PROGRESS' %}
                        <div>{% include 'issue/action/form.html' with id=issue.id action='CLOSE' %}</div>
                    {% elif issue.status == 'PENDING' %}
                        <div>{% include 'issue/action/form.html' with id=issue.id action='APPROVE' %}</div>
                        <div>{% include 'issue/action/form.html' with id=issue.id action='REJECT' %}</div>
                    {% endif %}
                    <div>{% include 'issue/remark/list.html' %}</div>
                </div>
            </div>
            <p class="text-base md:text-xl font-bold text-gray-600 ">{{ issue.job_test.job }}</p>
            <ul class="my-4 space-y-3">
                {% with status=issue.status %}
                    <li class=" rounded-lg">
                        <a class="flex items-center p-3 text-sm md:text-base font-bold text-gray-900 ">
                            <span class="flex-1 ms-3 whitespace-nowrap">Status</span>
                            <span class="inline-flex items-center justify-center px-4 py-1.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 {% if status == 'CREATED' %}bg-CREATED {% elif status == 'CANCELLED' %}bg-CANCELLED {% elif status == 'ACCEPTED' %}bg-ACCEPTED {% elif status == 'REJECTED' %}bg-REJECTED{% elif status == 'IN-PROGRESS' %}bg-IN-PROGRESS{% elif status == 'PENDING' %}bg-PENDING{% elif status == 'INCOMPLETE' %}bg-INCOMPLETE{% elif status == 'COMPLETED' %}bg-COMPLETED {% endif %}text-white rounded">{{ issue.status }}</span>
                        </a>
                        <a class="flex items-center p-3 text-sm md:text-base font-bold text-gray-900 ">
                            <span class="flex-1 ms-3 whitespace-nowrap">Remark</span>
                            <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-100 rounded">{{ issue.remarks.first.text }}</span>
                        </a>
                    </li>
                {% endwith %}
                <li class="grid grid-cols-1 sm:grid-cols-2">
                    <a class="flex items-center p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 ms-3 whitespace-nowrap">Date</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ issue.created_at.date }}</span>
                    </a>
                    <a class="flex items-center p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 ms-3 whitespace-nowrap">Time</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ issue.created_at.time }}</span>
                    </a>
                </li>
                <li>
                    <a class="flex items-center p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 ms-3 whitespace-nowrap">Location</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ issue.location.name }}</span>
                    </a>
                </li>
                <li>
                    <a class="flex items-center p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 ms-3 whitespace-nowrap">Created By</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ issue.created_by.username }}</span>
                    </a>
                    <a class="flex items-center p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 ms-3 whitespace-nowrap">Created At</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ issue.created_at }}</span>
                    </a>
                </li>
                <li>
                    <a class="flex items-center p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 ms-3 whitespace-nowrap">Description</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ issue.description }}</span>
                    </a>
                </li>
            </ul>
            <div class="flex gap-4">
                {% if issue.status == 'OPEN' or issue.status == 'REJECTED' %}
                    {% if can_submit %}
                        <a href="{% url 'approval:create_issue_approval' issue.id %}"
                           class="text-white inline-flex items-center bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg uppercase text-xs tracking-widest  px-4 py-1.5 text-center">
                            Submit
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            {% if issue.job_test.artwork %}
                <div class="mt-4 w-fit  items-center mx-auto">
                    <img src="{{ issue.job_test.artwork.file.url }}"
                         alt="Artwork"
                         height=""
                         width=""
                         class=" h-auto w-full  rounded-lg" />
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
