{% extends "auth.html" %}
{% block content %}
    <div class="mx-4">
        <div class="items-center w-fit mx-auto bg-white p-4 rounded-xl sm:mx-auto place-self-center ring-8 ring-gray-900 sm:max-w-sm max-w-xs ">
            <div class=" p-4 rounded-lg font-bold bg-white text-dark mx-auto w-fit mt-4">
                <p class="uppercase tracking-widers">Signed out!</p>
                <a href="{% url 'login' %}"
                   class="text-lg font-normal tracking-wide text-sky-900 hover:underline">Click here to login again.</a>
            </div>
        </div>
    </div>
{% endblock content %}
