{% extends "auth.html" %}
{% block content %}
    {% load static %}
    <section class="mx-auto ring-8 ring-gray-900 max-w-sm rounded-xl">
        <div class="items-center mx-auto bg-white p-4 rounded-xl">
            <div class="w-full p-4 sm:p-6  ">
                <div class="p-2 space-y-4 md:space-y-6 ">
                    {% if user.is_authenticated %}
                        <p class="text-2xl font-base  text-gray-800">Already Logged in!</p>
                        <p>
                            <a href="/" class="hover:underline">Go to home</a>
                        </p>
                    {% else %}
                        <h1 class="text-2xl font-semibold leading-tight tracking-wide text-gray-900 uppercase ">Sign in.</h1>
                        <form class="space-y-6 w-full" method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            {% if form.errors %}<p class="text-red-700">Your username and password didn't match. Please try again.</p>{% endif %}
                            <div>
                                <label for="username"
                                       class="block mb-2  text-gray-900 gray:text-white text-lg">Username</label>
                                <input type="username"
                                       name="username"
                                       id="username"
                                       class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-gray-600 focus:border-gray-600 block w-full p-2 "
                                       placeholder="username"
                                       required="">
                            </div>
                            <div>
                                <label for="password"
                                       class="block mb-2  text-gray-900 gray:text-white text-lg">Password</label>
                                <input type="password"
                                       name="password"
                                       id="password"
                                       placeholder="••••••••"
                                       class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-gray-600 focus:border-gray-600 block w-full p-2 "
                                       required="" />
                                <button type="button"
                                        id="togglePassword"
                                        class="mt-4  text-gray-900 hover:text-gray-800">
                                    <!-- Eye Icon (Show Password) -->
                                    <div class="show-password flex gap-2 items-center">
                                        <svg class="w-5 h-5 "
                                             xmlns="http://www.w3.org/2000/svg"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                        </svg>
                                        <p>Show Password</p>
                                    </div>
                                    <!-- Eye Slash Icon (Hide Password) -->
                                    <div class="hide-password hidden flex gap-2 items-center">
                                        <svg class="w-5 h-5 "
                                             xmlns="http://www.w3.org/2000/svg"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                                        </svg>
                                        <p>Hide Password</p>
                                    </div>
                                </button>
                            </div>
                            <button type="submit"
                                    value="login"
                                    class="w-full text-white bg-gray-900 hover:bg-gray-800 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg uppercase text-xs tracking-widest  px-4 py-2 text-center ">
                                Sign in
                            </button>
                            <input type="hidden" name="next" value="{{ next }}">
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const togglePassword = document.getElementById('togglePassword');
        const passwordInput = document.getElementById('password');
        const showIcon = togglePassword.querySelector('.show-password');
        const hideIcon = togglePassword.querySelector('.hide-password');
    
        togglePassword.addEventListener('click', function() {
            // Toggle password visibility
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                showIcon.classList.add('hidden');
                hideIcon.classList.remove('hidden');
            } else {
                passwordInput.type = 'password';
                showIcon.classList.remove('hidden');
                hideIcon.classList.add('hidden');
            }
        });
    });
    </script>
{% endblock content %}
