{% extends "partials/table.html" %}
{% block buttons %}
    {% include 'partials/filter.html' %}
{% endblock buttons %}
{% block table %}
    <thead class="text-xs sm:text-sm text-gray-700 uppercase bg-gray-50">
        <tr>
            <th scope="col" class="px-6 py-3">Test ID</th>
            <th scope="col" class="px-6 py-3">Job</th>
            <th scope="col" class="px-6 py-3">Machine</th>
            <th scope="col" class="px-6 py-3">Status</th>
            <th scope="col" class="px-6 py-3">Shift</th>
            <th scope="col" class="px-6 py-3">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for a in page %}
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 ">{{ a.job_test.id }}</th>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 ">{{ a.job_test.job }}</th>
                <td class="px-6 py-4">{{ a.machine }}</td>
                <td class="px-6 py-4">{{ a.status }}</td>
                <td class="px-6 py-4">{{ a.shift.name }}</td>
                <td class="px-6 py-4">
                    <a href="{{ a.get_absolute_url }}"
                       class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Detail</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock table %}
