{% extends 'base.html' %}
{% block content %}
    <div class="mx-auto ">
        <div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6">
            <h5 class="mb-3 text-base font-semibold text-gray-800 md:text-xl dark:text-white">Job Detail</h5>
            <p class="text-base md:text-xl font-bold text-gray-600 ">{{ job.no }}</p>
            <ul class="my-4 space-y-3">
                <li>
                    <a class="flex items-center p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 ms-3 whitespace-nowrap">Product No.</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ job.product.no }}</span>
                    </a>
                </li>
                <li>
                    <a class="flex items-center p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 ms-3 whitespace-nowrap">Product Name</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ job.product.name }}</span>
                    </a>
                </li>
                <li>
                    <a class="flex items-center p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 ms-3 whitespace-nowrap">Customer</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ job.customer.name }}</span>
                    </a>
                </li>
                <li>
                    <a class="flex items-center p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 ms-3 whitespace-nowrap">Route</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ job.route.name }}</span>
                    </a>
                </li>
                <li>
                    <a class="flex items-center p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 ms-3 whitespace-nowrap">Tests</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ job.job_tests.all.count }}</span>
                    </a>
                </li>
                <li>
                    <a class="flex items-center p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 ms-3 whitespace-nowrap">Color Standard</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ job.color_standard.name }}</span>
                    </a>
                </li>
            </ul>
            <div class="flex gap-4 items-center">
                {% include 'job/edit.html' %}
                {% if unfinished_test %}
                    <p class="text-red-700">
                        This Job has unfinished test!
                        <a href="{% url 'job:test_detail' unfinished_test.id %}"
                           class="underline text-gray-800">click here</a> to open the test.
                    </p>
                {% elif ready %}
                    <a href="{% url 'job:create_test' job.id %}"
                       class="text-white inline-flex items-center bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center">
                        Start Testing
                    </a>
                {% endif %}
            </div>
            {% if artwork %}
                <div class="mt-4 w-fit  items-center mx-auto">
                    <img src="{{ artwork.file.url }}"
                         alt="Job Artwork"
                         height=""
                         width=""
                         class=" h-auto w-full  rounded-lg" />
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
