{% extends 'form.html' %}
{% block title %}Create Route{% endblock %}
{% block form %}
    <div class=" bg-gray-50 w-full">
        <div class="mx-auto">
            <form class="p-4 md:p-5 w-fit mx-auto"
                  method="post"
                  action="{% url 'machine:update_machine_route' route.id %}">
                <div class="flex-col">
                    {% csrf_token %}
                    <p class="py-2  text-base  text-gray-700 tracking-wider uppercase">{{ route.name }}</p>
                    {{ formset.management_form }}
                    <p class="text-red-700 text-sm">
                        {% if formset.non_form_errors %}{{ formset.non_form_errors|join:", " }}{% endif %}
                    </p>
                    <div class="w-full">
                        {% for form in formset %}
                            <p class="text-red-700 text-sm">
                                {% if form.non_field_errors %}{{ form.non_field_errors|join:", " }}{% endif %}
                            </p>
                            <div class="flex gap-2 mb-4 ">
                                {{ form.id }}
                                {{ form.instance.order }}
                                {% for field in form %}
                                    <div class="flex-col ">{{ field }}</div>
                                    <p class="text-red-700 text-sm">
                                        {% if field.errors %}{{ field.errors|join:", " }}{% endif %}
                                    </p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="flex gap-4">
                        <button type="submit"
                                class="text-white inline-flex items-center bg-gray-700 hover:bg-gray-800 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg uppercase text-xs tracking-widest  px-4 py-1.5 text-center">
                            Save
                        </button>
                        <a href="{% url 'machine:cancel_create_route' route.id %}"
                           class=" inline-flex items-center bg-gray-200 hover:bg-gray-300 focus:ring-2 focus:outline-none focus:ring-gray-400 font-medium rounded-lg uppercase text-xs tracking-widest  px-4 py-1.5 text-center">
                            Cancel
                        </a>
                    </div>
                </div>
            </form>
            {{ form.media }}
        </div>
    </div>
{% endblock form %}
