{% extends "partials/table.html" %}
{% block title %}Product List{% endblock %}
{% block buttons %}
    <a href="{% url 'product:get' %}"
       class="text-white inline-flex items-center bg-gray-700 hover:bg-gray-800 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg uppercase text-xs tracking-widest  px-4 py-1.5 text-center">
        Update List
    </a>
    {% include 'partials/filter.html' %}
{% endblock buttons %}
{% block table %}
    <thead class="text-xs sm:text-sm text-gray-700 uppercase bg-gray-50">
        <tr>
            <th scope="col" class="px-3 py-3 sm:px-6 sm:py-3">No.</th>
            <th scope="col" class="px-3 py-3 sm:px-6 sm:py-3">Name</th>
            <th scope="col" class="px-6 py-3 hidden md:table-cell">Jobs</th>
            <th scope="col" class="px-6 py-3 hidden md:table-cell">Artworks</th>
            <th scope="col" class="px-3 py-3 sm:px-6 sm:py-3 text-right">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for p in page %}
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b">
                <td class="px-3 py-3 sm:px-6 sm:py-3 capitalize">{{ p.no }}</td>
                <th scope="row"
                    class="px-3 py-3 sm:px-6 sm:py-3 font-medium text-gray-900  ">
                    <p>{{ p.name }}</p>
                </th>
                <td class="px-6 py-3 hidden md:table-cell">{{ p.jobs.all.count }}</td>
                <td class="px-6 py-3 hidden md:table-cell">{{ p.artworks.all.count }}</td>
                <td class="px-3 py-3 sm:px-6 sm:py-3 text-right">
                    <a href="{{ p.get_absolute_url }}"
                       class="font-semibold text-gray-600 hover:underline">Detail</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock table %}
