{% extends 'base.html' %}
{% block title %}Job Test Detail{% endblock %}
{% load humanize %}
{% block content %}
    <div class="mx-auto ">
        <div class="w-full space-y-4 p-2 bg-white border border-gray-200 rounded-lg shadow sm:p-4">
            <p class="text-base md:text-xl font-bold text-gray-600 ">{{ job_test.job.no }}</p>
            <div class="flex place-content-end">
                <div class="flex flex-wrap gap-4 ">
                    {% if job_test.status == 'COMPLETED' %}
                        <div>{% include 'job/test/semi_waste/create.html' %}</div>
                    {% endif %}
                    {% if job_test.semi_wastes.exists %}
                        <div>{% include 'job/test/semi_waste/list.html' %}</div>
                    {% endif %}
                    <div>
                        <a href="{% url 'report:get_report' job_test.id %}"
                           class="text-white inline-flex items-center bg-gray-700 hover:bg-gray-800 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg uppercase text-xs tracking-widest  px-4 py-1.5 text-center">
                            Get Report
                        </a>
                    </div>
                </div>
            </div>
            <ul class="my-4 space-y-3">
                <li>
                    <a class="grid sm:grid-cols-2 items-center p-1 sm:p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 mb-2 sm:mb-0 ms-3 whitespace-nowrap">Product</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ job_test.job.product.name }}</span>
                    </a>
                </li>
                <li>
                    <a class="grid sm:grid-cols-2 items-center p-1 sm:p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 mb-2 sm:mb-0 ms-3 whitespace-nowrap">Customer</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ job_test.job.customer.name }}</span>
                    </a>
                </li>
                <li>
                    <a class="grid sm:grid-cols-2 items-center p-1 sm:p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 mb-2 sm:mb-0 ms-3 whitespace-nowrap">Route</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ job_test.route.name }}</span>
                    </a>
                </li>
                <li>
                    <a class="grid sm:grid-cols-2 items-center p-1 sm:p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 mb-2 sm:mb-0 ms-3 whitespace-nowrap">Status</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ job_test.status }}</span>
                    </a>
                </li>
                <li>
                    <a class="grid sm:grid-cols-2 items-center p-1 sm:p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 mb-2 sm:mb-0 ms-3 whitespace-nowrap">Current Machine</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ job_test.current_machine }}</span>
                    </a>
                </li>
                <li>
                    <a class="grid sm:grid-cols-2 items-center p-1 sm:p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 mb-2 sm:mb-0 ms-3 whitespace-nowrap">Color Standard</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ job_test.color_standard.name }}</span>
                    </a>
                </li>
            </ul>
            <div class="flex gap-4 items-center">
                {% if first_off_ready %}
                    <a href="{% url 'assessment:create_first_off' job_test.id %}"
                       class="text-white inline-flex items-center bg-gray-700 hover:bg-gray-800 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg uppercase text-xs tracking-widest  px-4 py-1.5 text-center">
                        Create First-Off
                    </a>
                {% endif %}
                {% if on_process_ready %}
                    <a href="{% url 'assessment:create_on_process' job_test.id %}"
                       class="text-white inline-flex items-center bg-gray-700 hover:bg-gray-800 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg uppercase text-xs tracking-widest  px-4 py-1.5 text-center">
                        Create On-Process
                    </a>
                {% endif %}
                {% if next_machine %}
                    <a href="{% url 'job:next_machine' job_test.id %}"
                       class="text-white inline-flex items-center bg-gray-700 hover:bg-gray-800 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg uppercase text-xs tracking-widest  px-4 py-1.5 text-center">
                        Next Machine
                    </a>
                {% endif %}
                {% if ready_to_finish %}
                    <form method='post' action="{% url 'job:finish_test' job_test.id %}">
                        {% csrf_token %}
                        <button type="submit"
                                class="text-white inline-flex items-center bg-gray-700 hover:bg-gray-800 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg uppercase text-xs tracking-widest  px-4 py-1.5 text-center">
                            Finish Test
                        </button>
                    </form>
                {% endif %}
            </div>
            {% if job_test.artwork %}
                <div class="pt-4 w-fit  items-center mx-auto">
                    <img src="{{ job_test.artwork.file.url }}"
                         alt="Artwork"
                         height=""
                         width=""
                         class=" h-auto w-full  rounded-lg" />
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
