<!-- Modal toggle -->
{% load humanize %}
<button data-modal-target="semi-waste-detail-{{ sw.id }}"
        data-modal-toggle="semi-waste-detail-{{ sw.id }}"
        class="block text-white bg-gray-700 hover:bg-gray-800 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg uppercase text-xs tracking-widest  px-4 py-1.5 text-center "
        type="button">Detail</button>
<!-- Main modal -->
<div id="semi-waste-detail-{{ sw.id }}"
     tabindex="-1"
     aria-hidden="true"
     class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 ">Semi-Waste Detail</h3>
                <button type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-toggle="semi-waste-detail-{{ sw.id }}">
                    <svg class="w-3 h-3"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
                <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
                    <li class="pb-3 sm:pb-4">
                        <div class="flex items-center justify-between">
                            <div class="inline-flex  items-center text-base font-semibold text-gray-900 ">Tag No.</div>
                            <div class="flex-row text-right">
                                <p class="text-sm font-medium text-gray-900 truncate ">{{ sw.tag_no }}</p>
                            </div>
                        </div>
                    </li>
                    <li class="pb-3 sm:pb-4">
                        <div class="flex items-center justify-between">
                            <div class="inline-flex  items-center text-base font-semibold text-gray-900 ">Job</div>
                            <div class="flex-row text-right">
                                <p class="text-sm font-medium text-gray-900 truncate ">{{ sw.job_test.job.no }}</p>
                            </div>
                        </div>
                    </li>
                    <li class="pb-3 sm:pb-4">
                        <div class="flex items-center justify-between">
                            <div class="inline-flex  items-center text-base font-semibold text-gray-900 ">Quantity</div>
                            <div class="flex-row text-right">
                                <p class="text-sm font-medium text-gray-900 truncate ">{{ sw.quantity|intcomma }}</p>
                            </div>
                        </div>
                    </li>
                    <li class="pb-3 sm:pb-4">
                        <div class="flex items-center justify-between">
                            <div class="inline-flex  items-center text-base font-semibold text-gray-900 ">Approved Quantity</div>
                            <div class="flex-row text-right">
                                <p class="text-sm font-medium text-gray-900 truncate ">{{ sw.approved_quantity|intcomma }}</p>
                            </div>
                        </div>
                    </li>
                    <li class="pb-3 sm:pb-4">
                        <div class="flex items-center justify-between">
                            <div class="inline-flex  items-center text-base font-semibold text-gray-900 ">Rejected Quantity</div>
                            <div class="flex-row text-right">
                                <p class="text-sm font-medium text-gray-900 truncate ">{{ sw.rejected_quantity|intcomma }}</p>
                            </div>
                        </div>
                    </li>
                    <li class="pb-3 sm:pb-4">
                        <div class="flex items-center justify-between">
                            <div class="inline-flex  items-center text-base font-semibold text-gray-900 ">Status</div>
                            <div class="flex-row text-right">
                                <p class="text-sm font-medium text-gray-900 truncate ">{{ sw.status }}</p>
                            </div>
                        </div>
                    </li>
                    <li class="pb-3 sm:pb-4">
                        <div class="flex items-center justify-between">
                            <div class="inline-flex  items-center text-base font-semibold text-gray-900 ">Created By</div>
                            <div class="flex-row text-right">
                                <p class="text-sm font-medium text-gray-900 truncate ">{{ sw.created_by.username }}</p>
                            </div>
                        </div>
                    </li>
                    <li class="pb-3 sm:pb-4">
                        <div class="flex items-center justify-between">
                            <div class="inline-flex  items-center text-base font-semibold text-gray-900 ">Approved By</div>
                            <div class="flex-row text-right">
                                <p class="text-sm font-medium text-gray-900 truncate ">{{ sw.approved_by.username }}</p>
                            </div>
                        </div>
                    </li>
                    <li class="pb-3 sm:pb-4">
                        <div class="flex-col items-center justify-between">
                            <div class="inline-flex  items-center text-base font-semibold text-gray-900 ">Remark</div>
                            <div class="flex-row text-right">
                                <p class="text-sm font-medium text-gray-900 truncate ">{{ sw.remark }}</p>
                            </div>
                        </div>
                    </li>
                    <li class="pb-3 sm:pb-4">
                        <div class="flex-col items-center justify-between">
                            <div class="inline-flex  items-center text-base font-semibold text-gray-900 ">Comment</div>
                            <div class="flex-row text-right">
                                <p class="text-sm font-medium text-gray-900  ">{{ sw.comment }}</p>
                            </div>
                        </div>
                    </li>
                </ul>
                {% if sw.status != "COMPLETED" %}
                    <div class="text-right">
                        <a href="{% url 'assessment:update_semi_waste' sw.id %}"
                           class="text-white inline-flex items-center bg-gray-700 hover:bg-gray-800 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg capitalize text-xs tracking-widest  px-4 py-1.5 text-center">
                            Approve
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
