{% extends 'base.html' %}
{% block content %}
    <div class="mx-auto ">
        <div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6">
            <div class="flex justify-between gap-2">
                <h5 class="mb-3 text-base font-semibold text-gray-800 md:text-xl ">On Process Detail</h5>
                <div class="flex flex-wrap gap-2 justify-end ">
                    <div class="flex flex-wrap gap-2 justify-end">
                        {% if assessment.status == 'OPEN' or assessment.status == 'REJECTED' %}
                            <div>{% include 'on_process/waste/create.html' %}</div>
                        {% endif %}
                        <div>{% include 'on_process/waste/list.html' %}</div>
                    </div>
                    <div class="flex flex-wrap gap-2 justify-end">
                        {% if assessment.status == 'OPEN' or assessment.status == 'REJECTED' %}
                            <div>{% include 'on_process/conformity/create.html' %}</div>
                        {% endif %}
                        <div>{% include 'on_process/conformity/list.html' %}</div>
                    </div>
                </div>
            </div>
            <p class="text-base md:text-xl font-bold text-gray-600 ">{{ assessment.job_test.job }}</p>
            <ul class="my-4 space-y-3">
                <li>
                    <a class="flex items-center p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 ms-3 whitespace-nowrap">Machine</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ assessment.machine.name }}</span>
                    </a>
                </li>
                <li>
                    <a class="flex items-center p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 ms-3 whitespace-nowrap">Shift</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ assessment.shift.name }}</span>
                    </a>
                </li>
                <li>
                    <a class="flex items-center p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 ms-3 whitespace-nowrap">Assessments</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ assessment.on_processes.all.count }}</span>
                    </a>
                </li>
                <li>
                    <a class="flex items-center p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 ms-3 whitespace-nowrap">Total Waste</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ total_waste }}</span>
                    </a>
                </li>
                <li>
                    <a class="flex items-center p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                        <span class="flex-1 ms-3 whitespace-nowrap">Status</span>
                        <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ assessment.status }}</span>
                    </a>
                </li>
                <li class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 ">
                    {% for c in color_standard.colors.all %}
                        <a class="flex items-stretch p-3 text-sm md:text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow">
                            <span class="flex-1 ms-3 whitespace-nowrap">{{ c.name }}</span>
                            <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs md:text-sm font-semibold text-gray-700 bg-gray-200 rounded">{{ c.code }}</span>
                        </a>
                    {% endfor %}
                </li>
            </ul>
            <div class="flex gap-4">
                {% if assessment.status == 'OPEN' or assessment.status == 'REJECTED' %}
                    {% include 'on_process/edit.html' %}
                {% endif %}
            </div>
            {% if assessment.job.artwork %}
                <div class="mt-4 w-full h-96">
                    <img src="{{ assessment.job.artwork.url }}"
                         alt="Job Artwork"
                         height=""
                         width=""
                         class=" object-cover rounded-lg">
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
