{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="{% block meta_description %}{% endblock %}">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <title>Quality Everywhere</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        {% compress css %}
            <link rel="stylesheet" href="{% static 'src/output.css' %}" />
            <link rel="stylesheet"
                href="{% static 'django_select2/django_select2.css' %}" />
        {% endcompress %}
        {% compress js %}
            <link rel="stylesheet"
                href="{% static 'django_select2/django_select2.js' %}" />
        {% endcompress %}
        <style>input, select {width: 100%; height: 2rem;}</style>
    </head>
    <body>
        {{ filter.form.media }}
        {{ filter.form.media.css }}
        {{ form.media }}
        {{ form.media.css }}
        <div class="container mx-auto max-w-xl mt-2 md:mt-6">
            <div class="place-content-center p-2 sm:p-4">
                <p class="  text-lg font-semibold text-gray-800 md:text-xl tracking-wider uppercase">
                    {% block title %}{% endblock %}
                </p>
            </div>
            {% block form %}{% endblock %}
        </div>
        <script src="{% static 'flowbite/dist/flowbite.min.js' %}"></script>
        {{ form.media.js }}
        {{ filter.form.media.js }}
    </body>
</html>
