{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="{% block meta_description %}{% endblock %}">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <title>Quality Report</title>
        {% compress css %}
            <link rel="stylesheet" href="{% static 'src/output.css' %}">
        {% endcompress %}
        <style>
            @media print {
                @page {
                    size: A4;
                    margin: 1cm;
                    @top-center {
                        content: "My Website Report" counter(page);
                    }
                    @bottom-center {
                        content: "Confidential";
                    }
                }
                .no-print {
                    display: none;
                }
            }
        </style>
    </head>
    <body>
        <script src="{% static 'flowbite/dist/flowbite.min.js' %}"></script>
    </body>
</html>
