{% extends "partials/table.html" %}
{% block table %}
    <thead class="text-xs sm:text-sm text-gray-700 uppercase bg-gray-50">
        <tr>
            <th scope="col" class="px-4 py-3">Product Name</th>
            <th scope="col" class="px-4 py-3">Machine</th>
            <th scope="col" class="px-4 py-3">Shift</th>
            <th scope="col" class="px-4 py-3">Inspected by</th>
            <th scope="col" class="px-4 py-3 ">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for ass in assessments %}
            <tr class="odd:bg-white items-center odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b">
                <th scope="row" class="px-4 py-3 font-medium text-gray-900 ">
                    <p>{{ ass.assessment.job_test }}</p>
                </th>
                <td class="px-4 py-3">{{ ass.assessment.machine.name }}</td>
                <td class="px-4 py-3">{{ ass.assessment.shift.name }}</td>
                <td class="px-4 py-3">{{ ass.assessment.inspected_by.username }}</td>
                {% if ass.assessment.type == 'FIRST-OFF' %}
                    <td class="px-4 py-3 ">{% include 'approval/assessment/first_off/detail.html' %}</td>
                {% elif ass.assessment.type == 'ON-PROCESS' %}
                    <td class="px-4 py-3 ">{% include 'approval/assessment/on_process/detail.html' %}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
{% endblock table %}
