{% extends 'form.html' %}
{% block title %}Edit Test{% endblock %}
{% block form %}
    <div class=" bg-gray-50">
        <form class="p-4 md:p-5 "
              method="post"
              action="{% url 'assessment:edit_test' test.id %}">
            {% csrf_token %}
            <div class="flex gap-2 mb-4 mx-auto">
                <div class="flex-col  font-semibold tracking-wider">Test:</div>
                <div class="flex-col font-normal">
                    <p class="  text-base  text-gray-700 tracking-wider uppercase">{{ test.name }}</p>
                </div>
            </div>
            <div class="flex-col gap-2 mb-4 mx-auto">
                <p class="text-red-700 text-sm">
                    {% if form.non_field_errors %}{{ form.non_field_errors|join:", " }}{% endif %}
                </p>
                <div class="grid sm:grid-cols-2 gap-2 mb-4">
                    {% for field in form %}
                        <div class="flex-col mb-3">
                            <div class=" mb-2 ">{{ field.label_tag }}</div>
                            <div class="flex gap-6">{{ field }}</div>
                            <p class="text-red-700 text-sm">
                                {% if field.errors %}{{ field.errors|join:", " }}{% endif %}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="flex gap-4">
                <button type="submit"
                        class="text-white inline-flex items-center bg-gray-700 hover:bg-gray-800 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg capitalize text-xs tracking-widest  px-4 py-1.5 text-center">
                    Save
                </button>
                <a href="{% url 'assessment:test_list' %}"
                   class=" inline-flex items-center bg-gray-200 hover:bg-gray-300 focus:ring-2 focus:outline-none focus:ring-gray-400 font-medium rounded-lg uppercase text-xs tracking-widest  px-4 py-1.5 text-center">
                    Cancel
                </a>
            </div>
        </form>
        {{ form.media }}
    </div>
{% endblock form %}
